.heroWrapper {
  height: 504px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  z-index: 1;

  &:before {
    content: "";
    height: 100%;
    width: 100%;
    background: radial-gradient(50% 50% at 50% 50%, #000000 0%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    z-index: -1;
  }

  h1 {
    font-size: 72px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 16px;
  }

  p {
    font-size: 24px;
  }
}